:root {
    font-size: 62.5%; /* 1rem = 10px insted 16px */
    --full-slider-bar:hsl(174, 77%, 80%);
    --discount-background:hsl(14, 92%, 95%);
    --discount-text:hsl(15, 100%, 70%);
    --CTA-text:hsl(226, 100%, 87%);
    --pricing-component-background:hsl(0, 0%, 100%);
    --main-background:hsl(230, 100%, 99%);
    --toggle-background:hsl(223, 50%, 87%);
    --text:hsl(225, 20%, 60%);
    --text-CTA-background:hsl(227, 35%, 25%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-size: 1.6rem;
    font-family: 'Manrope', sans-serif;
}

.sr-only {
    position: absolute;
    top: auto;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

body {
    min-height: 100vh;
    padding: 8.9rem 2.4rem 8.6rem;
    display: grid;
    place-items: start center;
    background: var(--main-background);
    background: url('../images/bg-pattern.svg') no-repeat, #f9faff;
    background-size: auto 400px;
}

@media screen and (min-width: 1000px) {
    body {
        background-size: contain;
        padding-top: 10.4rem;
    }
}

.card-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 6.4rem;
    width: 100%;
}

@media screen and (min-width: 1000px) {
    .card-wrapper {
        gap: 9.1rem;
    }
}

.pricing-card-header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 0.8rem;
    position: relative;
}

@media screen and (min-width: 620px) {
    .pricing-card-header {
        gap: 1.2rem;
    }
}

.pricing-card-header::before {
    position: absolute;
    content: "";
    background: url('../images/pattern-circles.svg') no-repeat center;
    width: 100%;
    height: 300%;
    transform: translate(0, -33%);
    z-index: -1;
}

.pricing-card-header h2 {
    font-weight: 800;
    font-size: 2rem;
    line-height: 2.7rem;
    text-align: center;
    color: var(--text-CTA-background);
}

@media screen and (min-width: 620px) {
    .pricing-card-header h2 {
        font-size: 2.8rem;
        line-height: 3.8rem;
    }
}

.pricing-card-header p {
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 2.3rem;
    text-align: center;
    color: var(--text);
    max-width: 17rem;
}

@media screen and (min-width: 620px) {
    .pricing-card-header p {
        font-size: 1.5rem;
        line-height: 2rem;
        max-width: none;
    }
}

form.pricing-card {
    background: #FFF;
    width: 100%;
    max-width: 54rem;
    display: grid;
    box-shadow: 0px 20px 30px -5px rgb(127, 137, 185, 0.152073);
    border-radius: .8rem;
    padding: 3.4rem 0;
    gap: 3.4rem;
    justify-items: center;
}

@media screen and (min-width: 620px) {
    form.pricing-card {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: max-content;
        padding: 4rem 0;
        align-items: center;
        gap: 4rem;
    }
}

.pricing-card__views {
    font-weight: 800;
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
    letter-spacing: 0.17142rem;
    text-transform: uppercase;
    color: var(--text)
}

@media screen and (min-width: 620px) {
    .pricing-card__views {
        font-size: 1.4rem;
        line-height: 1.9rem;
        letter-spacing: 0.2rem;
    }
}

.pricing-card__views-range {
    margin: 0.7rem 0 0.6rem;
    max-width: 85%;
}

@media screen and (min-width: 620px) {
    .pricing-card__views-range {
        margin: 0 0 1.6rem;
        grid-row: 2/3;
        grid-column: 1/3;
        max-width: 82%;
    }
}

input[type="range"] {
    appearance: none;
    width: 100%;
    background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
}

input[type="range"]::-moz-range-thumb {
    outline: none;
    border: none;
}

input[type="range"]:focus {
    outline:none
}


/* Styling the Thumb */

form.pricing-card {
    --thumb-dimensions: 4rem;
    --thumb-br: 50%;
    --thumb-bg: hsl(174, 86%, 45%);
    --thumb-hover-bg: #7aeadf;
    --thumb-active-bg: #24aea1;
    --thumb-bs: 0px 15px 30px rgba(0, 255, 231, 0.6);
}

input[type="range"]::-webkit-slider-thumb {
    height: var(--thumb-dimensions);
    width: var(--thumb-dimensions);
    cursor: ew-resize;
    background: url('../images/icon-slider.svg') center no-repeat, var(--thumb-bg);
    box-shadow: var(--thumb-bs);
    margin-top: -1.4rem;
    border-radius: var(--thumb-br);
    transition: background 350ms;
}

input[type="range"]:hover::-webkit-slider-thumb {
    background-color: var(--thumb-hover-bg);
}

input[type="range"]:active::-webkit-slider-thumb {
    background-color: var(--thumb-active-bg);
}

/* Firefox - thumb */

input[type="range"]::-moz-range-thumb {
    height: var(--thumb-dimensions);
    width: var(--thumb-dimensions);
    cursor: pointer;
    background: url('../images/icon-slider.svg') center no-repeat, var(--thumb-bg);
    box-shadow: var(--thumb-bs);
    border-radius: var(--thumb-br);
    transition: background 350ms;
}

input[type="range"]:hover::-moz-range-thumb {
    background-color: var(--thumb-hover-bg);
}

input[type="range"]:active::-moz-range-thumb {
    background-color: var(--thumb-active-bg);
}


/* Styling the track */

form.pricing-card {
    --track-h: .8rem;
    --track-bg: #ecf0fb;
    --track-br: .5rem;
    --left: 50;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: var(--track-h);
    cursor: ew-resize;
    background: var(--track-bg);
    border-radius: var(--track-br);
    background-image: linear-gradient(
        to right,
        var(--full-slider-bar) calc(var(--left) * 1%),
        transparent 0%
    );
}

/* Firefox - Track */
input[type="range"]::-moz-range-track {
    width: 100%;
    height: var(--track-h);
    cursor: ew-resize;
    background: var(--track-bg);
    border-radius: var(--track-br);
    background-image: linear-gradient(
        to right,
        var(--full-slider-bar) calc(var(--left) * 1%),
        transparent 0%
    );
}

.pricing-card__price-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@media screen and (min-width: 620px) {
    .pricing-card__price-container {
        justify-self: start;
    }
}

.pricing-card__price {
    font-weight: 800;
    font-size: 3.2rem;
    line-height: 4.4rem;
    letter-spacing: -0.08rem;
    color: var(--text-CTA-background);
}

@media screen and (min-width: 620px) {
    .pricing-card__price {
        font-size: 4rem;
        line-height: 5.5rem;
        letter-spacing: -0.1rem;
    }
}

.pricing-card__billing-frequency {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.9rem;
    color: var(--text)
}

@media screen and (min-width: 620px) {
    .pricing-card_billing-frequency {
        font-size: 1.6rem;
        line-height: 2.2rem;
    }
}

/* Custom Toggle */

#billing-freq {
    display: none;
}

.pricing-card__billing-frequency-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    cursor: pointer;
    transform: translateX(-0.6rem);
    margin-bottom: 0.4rem;
    border: 2px;
}

@media screen and (min-width: 620px) {
    .pricing-card__billing-frequency-toggle {
        grid-column: 1/3;
        transform: translateX(0);
        margin-bottom: 0;
    }
}

 /* Toggle background */
.toggle {
    width: 4.4rem;
    height: 2.2rem;
    border-radius: 1.5rem;
    padding: 0.4rem;
    background: var(--toggle-background);
    transition: background 250ms ease-in-out;
}

/* Toggle White Circle */
.toggle-circle {
    display: block;
    height: 1.4rem;
    width: 1.4rem;
    background-color: #FFF;
    border-radius: 50%;
    transform: translateX(0);
    transition: transform 250ms ease-in-out;
}

/* White circle movement */
#billing-freq:checked ~ .toggle > .toggle-circle {
    transform: translateX(2.2rem);
}

.pricing-card__billing-frequency-toggle:hover > .toggle,
#billing-freq:checked ~ .toggle {
    background: var(--full-slider-bar)
}

.pricing-card__freq-option {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: var(--text);
    position: relative;
}

@media screen and (min-width: 375px) {
    .pricing-card__freq-option--annual::after {
        content: "-25%";
        position: absolute;
        width: max-content;
        left: 100%;
        top: 50%;
        transform: translate(0.55rem, -50%);
        padding: 0.2rem 0.85rem 0.3rem 0.75rem;
        background: var(--discount-background);
        font-weight: 800;
        font-size: 1rem;
        line-height: 1.4rem;
        border-radius: .9rem;
        color: var(--discount-text);
    }
}

@media screen and (min-width: 620px) {
    .pricing-card__freq-option--annual::after {
        content: "-25 discount"
    }
}

/* Features */

.price-card__bottom {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 3.4rem;
    padding: 2.4rem 0 0;
    border-top: 1px solid #ecf0fb;
}

@media screen and (min-width: 620px) {
    .price-card__bottom {
        grid-column:1/2;
        flex-flow: row nowrap;
        padding: 3.2rem 4.4rem 0 4.8rem;
        justify-content: space-between;
    }
}

.pricing-card__features {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

@media screen and (min-width: 620px) {
    .pricing-card__features {
        grid-column: 1/2;
        align-items: flex-start;
    }
}

.pricing-card__feature {
    display: flex;
    gap: 1.6rem;
    align-items: center;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: var(--text);
}

.pricing-card__submit-btn {
    width: max-content;
    padding: 1.2rem 4.6rem;
    border-radius: 2rem;
    background: var(--text-CTA-background);
    cursor: pointer;
    font-weight: 800;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: var(--CTA-text);
    transition: color 250ms ease-in-out
}

.pricing-card__submit-btn:hover {
    color: #FFF;
}

footer {
    margin-top: 60px;
    font-weight: 600;
    color: var(--text);
    font-size: 1.2rem;
    opacity: .5;
}

.heart {
    color: red;
}

footer a{
    color: black;
}